<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">{{ mensaje.titulo }}</h1>
        <p class="lead">{{ mensaje.subtitulo }}</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">{{ mensaje.titulo }}</h1>
        <p class="lead">{{ mensaje.subtitulo }}</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">{{ mensaje.titulo }}</h1>
        <p class="lead">{{ mensaje.subtitulo }}</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">{{ mensaje.titulo }}</h1>
        <p class="lead">{{ mensaje.subtitulo }}</p>
    </div>
</div>