<h1>SuperHéroes <small>Marvel y DC</small></h1>
<hr>
<!-- Cargando las tarjetas de la manera basica -->
<h3>Realizando un ciclo normal</h3>
<div class="card-columns">

    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <!-- Cuando se esta indicando que el atributo esta siendo trabajado por Angular se debe colocar entre "[]", ejemplo:
             [src]="item.atributo" permite definir dentro de ella un elmento del item "heroe", si no lo hago asi habria que definir de la siguiente forma:
             src={{ item.atributo}}, como se hacia en AngularJS, pero sinceramente esta forma es un poco mas fea, se recomienda hacerlo de la primera manera -->
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text"> {{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <!-- Cuando son eventos como el "click" debo tenerlo entre "()" -->
            <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe(i)">
                Ver info
            </button>
        </div>
    </div>

</div>


<hr>
<!-- Cargando las tarjetas utilizando un componente especializado -->
<h3>Realizando un llamado a un componente</h3>
<div class="card-columns">
    <!-- Se debe definir el atributo con el mismo nombre que esta definida la variable con el decorador "@Input()", en este caso se llama "heroe" y en el componente se llama "heroe" igualmente -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="item" [index]="i" *ngFor="let item of heroes; let i = index"></app-heroe-tarjeta>
    <!-- El atributo "heroeSeleccionado" va a escuchar que lo invoquen desde el elemento hijo y la palabra "$event" va a indicar el valor que se envio desde el "emit" del hijo -->

</div>