<h1>Buscando: {{ texto }}</h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <p>No existen resultados para el termino {{ texto }}</p>
        </div>
    </div>
</div>
<!-- Asi se puede desplegar de la manera mas básica -->
<!-- <div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text"> {{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button type="button" class="btn btn-outline-primary btn-block">
                Ver info
            </button>
        </div>
    </div>
</div> -->

<!-- Asi se puede desplegar reutilizando componentes -->
<div class="card-columns">
    <app-heroe-tarjeta [heroe]="item" [index]="item.idx" *ngFor="let item of heroes"></app-heroe-tarjeta>
</div>