<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
                <!-- El routerLink funciona como un arreglo, por lo que cada nivel dentro de la página es otra posicion del arreglo 
                     Ejemplo, para la ruta /home/prueba/1/info el routerLink equivalente sería ['home','prueba','1','info']-->
            </li>
            <li class="nav-item" routerLinkActive="active">
                <!-- El atributo "routerLinkActive" simplemente va agregar elementos de css (clases) cuando sea seleccionada su opcion
                     El funcionamiento es bastante sencillo, el "routerLink" cada vez que es invocado chequea su elemento padre y verifica si este tiene el atributo "routerLinkActive" definido
                     Si tiene definido ese atributo procedera a incorporar a la etiqueta las clases que se hayan establecido -->
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <!-- El "routerlink" asume que la ruta que se le indica la va a buscar desde la direccion actual.
                     Es decir, si estoy en localhost:4200/heroes y en el routerLink indique la ruta "home" el va a cambiar a localhost:4200/home,
                    sin embargo si estoy en la direccion localhost:4200/heroes y presiono un boton que me va a llevar al elemento especifico "heroe/1"
                     No va a cambiar la ruta a localhost:4200/heroe/1, va es a agregarle a la direccion actual donde se encuentra ese path, quedando asi
                    localhost:4200/heroes/heroe/1 lo cual si no tengo definido en mis rutas de esa forma daria problemas, para evitar esto solo se debe agregar un "/" al inicio 
                    de la primera direccion ej: ['/heroe',1] asi funcionaria sin problema alguno -->
                <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['prueba2']">Prueba 2</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="replica">Replica</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscarHeroe(buscarTexto.value)">Buscar</button>
        </form>
    </div>
</nav>