<div *ngFor="let heroe of heroes; let i = index" class="card" style="width: 18rem;">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <a class="btn btn-primary" [routerLink]="['/heroe', i, 'replica']">Ver info</a>
    </div>
</div>